@tailwind base;
@tailwind components;
@tailwind utilities;

.b {
  /* Super useful for debugging! */
  border: 2px solid red;
}

/* body {
  background-color: #F5EDED;
} */


/* Workaround for Next.js image styling */

/* For expertise post cards, which appear on discovery feeds. */
.expertisePostCardImageWrapper {
  box-sizing: content-box;
}

.expertisePostCardImageWrapper > span {
  border-radius: 0.75rem;
}

/* For expertise post detail pages. */
.expertisePostDetailImageWrapper {
  box-sizing: content-box;
}

.expertisePostDetailImageWrapper > span {
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}


/* To remove arrows on Number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

/* .rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #e61e4d;
}

.rating-outer::before {
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border: 1px solid black;
}

.rating-inner::before {
  color: #e61e4d;
} */


